@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

body {
  margin: 0;
  height: 100vh;
  background-image: url("https://github.com/kizsak/Portfolio/raw/main/LightBleedCompressed.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.neon {
  color: #d8ffff; 
  text-shadow: 0 0 2px #d8ffff; 
  filter:
    drop-shadow(0 0 6px  #00eaff)
    drop-shadow(0 0 12px #00eaff)
    drop-shadow(0 0 24px #00eaff)
    drop-shadow(0 0 48px #00eaff);
}

.limelight-regular {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

