body {
    margin: 0;
    height: 100vh;

    background-image: url("https://github.com/kizsak/Portfolio/raw/main/LightBleedCompressed.png");
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat; 
}
