body {
    height: 100vh;
    margin: 0;

    background: linear-gradient(105deg,
    rgba(235, 236, 244, 1) 0%,
    rgba(255, 240, 220, 1) 20%,
    rgba(255, 204, 188, 1) 40%,
    rgba(210, 160, 175, 1) 60%,
    rgba(40, 55, 95, 1) 100%
);
