@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

body {
  margin: 0;
  height: 100vh;
  background-image: url("https://github.com/kizsak/Portfolio/raw/main/LightBleedCompressed.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.neon {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}

.limelight-regular {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

